body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-94px;
  width:1142px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:56px;
}
#u3434 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:94px;
  width:95px;
  height:56px;
  display:flex;
}
#u3434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3435 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:94px;
  width:95px;
  height:53px;
  display:flex;
}
#u3435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3436 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:405px;
  width:95px;
  height:53px;
  display:flex;
}
#u3436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3437 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:193px;
  width:95px;
  height:53px;
  display:flex;
}
#u3437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3438 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:122px;
  width:0px;
  height:0px;
}
#u3438_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:92px;
  height:10px;
}
#u3438_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-6px;
  width:10px;
  height:11px;
}
#u3438_seg2 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-6px;
  width:93px;
  height:10px;
}
#u3438_text {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3439 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:147px;
  width:0px;
  height:0px;
}
#u3439_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:128px;
}
#u3439_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:118px;
  width:399px;
  height:10px;
}
#u3439_seg2 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:118px;
  width:10px;
  height:140px;
}
#u3439_text {
  border-width:0px;
  position:absolute;
  left:150px;
  top:115px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3440 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:147px;
  width:0px;
  height:0px;
}
#u3440_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:28px;
}
#u3440_seg1 {
  border-width:0px;
  position:absolute;
  left:-207px;
  top:18px;
  width:212px;
  height:10px;
}
#u3440_seg2 {
  border-width:0px;
  position:absolute;
  left:-207px;
  top:18px;
  width:10px;
  height:28px;
}
#u3440_text {
  border-width:0px;
  position:absolute;
  left:-151px;
  top:15px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3441 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:512px;
  width:95px;
  height:53px;
  display:flex;
}
#u3441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3442 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:360px;
  width:95px;
  height:53px;
  display:flex;
}
#u3442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3443 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:274px;
  width:95px;
  height:53px;
  display:flex;
}
#u3443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3444 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:246px;
  width:0px;
  height:0px;
}
#u3444_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:33px;
}
#u3444_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3445 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:327px;
  width:0px;
  height:0px;
}
#u3445_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:38px;
}
#u3445_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3446 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:387px;
  width:0px;
  height:0px;
}
#u3446_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:549px;
  height:10px;
}
#u3446_seg1 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:-5px;
  width:10px;
  height:23px;
}
#u3446_text {
  border-width:0px;
  position:absolute;
  left:231px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3447 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:597px;
  width:95px;
  height:53px;
  display:flex;
}
#u3447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3448 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:458px;
  width:0px;
  height:0px;
}
#u3448_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:27px;
}
#u3448_seg1 {
  border-width:0px;
  position:absolute;
  left:-394px;
  top:17px;
  width:399px;
  height:10px;
}
#u3448_seg2 {
  border-width:0px;
  position:absolute;
  left:-394px;
  top:17px;
  width:10px;
  height:37px;
}
#u3448_text {
  border-width:0px;
  position:absolute;
  left:-250px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3449 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:565px;
  width:0px;
  height:0px;
}
#u3449_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:37px;
}
#u3449_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3450 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:597px;
  width:95px;
  height:53px;
  display:flex;
}
#u3450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3451 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:597px;
  width:95px;
  height:53px;
  display:flex;
}
#u3451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3452 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:565px;
  width:0px;
  height:0px;
}
#u3452_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:20px;
}
#u3452_seg1 {
  border-width:0px;
  position:absolute;
  left:-184px;
  top:10px;
  width:189px;
  height:10px;
}
#u3452_seg2 {
  border-width:0px;
  position:absolute;
  left:-184px;
  top:10px;
  width:10px;
  height:22px;
}
#u3452_text {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3453 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:565px;
  width:0px;
  height:0px;
}
#u3453_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:20px;
}
#u3453_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:10px;
  width:206px;
  height:10px;
}
#u3453_seg2 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:10px;
  width:10px;
  height:22px;
}
#u3453_text {
  border-width:0px;
  position:absolute;
  left:49px;
  top:7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3454 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:679px;
  width:95px;
  height:53px;
  display:flex;
}
#u3454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3455 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:650px;
  width:0px;
  height:0px;
}
#u3455_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:34px;
}
#u3455_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3456 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:760px;
  width:95px;
  height:53px;
  display:flex;
}
#u3456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3457 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:732px;
  width:0px;
  height:0px;
}
#u3457_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:33px;
}
#u3457_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3458 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:850px;
  width:95px;
  height:53px;
  display:flex;
}
#u3458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3459 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:850px;
  width:95px;
  height:53px;
  display:flex;
}
#u3459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3460 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:387px;
  width:0px;
  height:0px;
}
#u3460_seg0 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-5px;
  width:17px;
  height:10px;
}
#u3460_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-5px;
  width:10px;
  height:500px;
}
#u3460_seg2 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:485px;
  width:143px;
  height:10px;
}
#u3460_text {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:300px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3461 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:813px;
  width:0px;
  height:0px;
}
#u3461_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:32px;
}
#u3461_seg1 {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:22px;
  width:86px;
  height:10px;
}
#u3461_seg2 {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:22px;
  width:10px;
  height:15px;
}
#u3461_text {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3462 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:813px;
  width:0px;
  height:0px;
}
#u3462_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:32px;
}
#u3462_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:22px;
  width:84px;
  height:10px;
}
#u3462_seg2 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:22px;
  width:10px;
  height:15px;
}
#u3462_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3463 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:985px;
  width:95px;
  height:53px;
  display:flex;
}
#u3463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3464 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:1072px;
  width:95px;
  height:53px;
  display:flex;
}
#u3464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3465 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:818px;
  width:79px;
  height:41px;
  display:flex;
}
#u3465 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3466 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:903px;
  width:0px;
  height:0px;
}
#u3466_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:22px;
}
#u3466_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:12px;
  width:160px;
  height:10px;
}
#u3466_seg2 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:0px;
  width:10px;
  height:22px;
}
#u3466_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3467 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:1217px;
  width:95px;
  height:53px;
  display:flex;
}
#u3467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3468 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:985px;
  width:95px;
  height:53px;
  display:flex;
}
#u3468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3469 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:1072px;
  width:95px;
  height:53px;
  display:flex;
}
#u3469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3470 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:985px;
  width:0px;
  height:0px;
}
#u3470_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-68px;
  width:10px;
  height:68px;
}
#u3470_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-68px;
  width:78px;
  height:10px;
}
#u3470_text {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-71px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3471 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:985px;
  width:0px;
  height:0px;
}
#u3471_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-71px;
  width:10px;
  height:71px;
}
#u3471_seg1 {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-71px;
  width:81px;
  height:10px;
}
#u3471_text {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:-74px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3472 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:1038px;
  width:0px;
  height:0px;
}
#u3472_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:27px;
}
#u3472_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:17px;
  width:124px;
  height:10px;
}
#u3472_seg2 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:17px;
  width:10px;
  height:17px;
}
#u3472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3473 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:1099px;
  width:0px;
  height:0px;
}
#u3473_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:10px;
}
#u3473_seg1 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-317px;
  width:10px;
  height:322px;
}
#u3473_seg2 {
  border-width:0px;
  position:absolute;
  left:-188px;
  top:-317px;
  width:206px;
  height:10px;
}
#u3473_text {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-258px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3474_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:58px;
  height:31px;
}
#u3474 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:781px;
  width:42px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(178.872792816758deg);
  -moz-transform:rotate(178.872792816758deg);
  -ms-transform:rotate(178.872792816758deg);
  transform:rotate(178.872792816758deg);
}
#u3474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3475 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:1072px;
  width:95px;
  height:53px;
  display:flex;
}
#u3475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3476 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:1038px;
  width:0px;
  height:0px;
}
#u3476_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:27px;
}
#u3476_seg1 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:17px;
  width:36px;
  height:10px;
}
#u3476_seg2 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:17px;
  width:10px;
  height:17px;
}
#u3476_text {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3477 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:1125px;
  width:0px;
  height:0px;
}
#u3477_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:56px;
}
#u3477_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:46px;
  width:290px;
  height:10px;
}
#u3477_seg2 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:-589px;
  width:10px;
  height:645px;
}
#u3477_seg3 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-589px;
  width:210px;
  height:10px;
}
#u3477_text {
  border-width:0px;
  position:absolute;
  left:230px;
  top:-212px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3478_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:90px;
  height:31px;
}
#u3478 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:536px;
  width:74px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-179.292807151585deg);
  -moz-transform:rotate(-179.292807151585deg);
  -ms-transform:rotate(-179.292807151585deg);
  transform:rotate(-179.292807151585deg);
}
#u3478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3479 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:1038px;
  width:0px;
  height:0px;
}
#u3479_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:39px;
}
#u3479_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3480 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:1125px;
  width:0px;
  height:0px;
}
#u3480_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:97px;
}
#u3480_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3481 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:1217px;
  width:95px;
  height:53px;
  display:flex;
}
#u3481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3482 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:1217px;
  width:95px;
  height:53px;
  display:flex;
}
#u3482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3483 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:1244px;
  width:0px;
  height:0px;
}
#u3483_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:269px;
  height:10px;
}
#u3483_text {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3484 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:1217px;
  width:0px;
  height:0px;
}
#u3484_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-15px;
  width:10px;
  height:15px;
}
#u3484_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-15px;
  width:285px;
  height:10px;
}
#u3484_seg2 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:-705px;
  width:10px;
  height:700px;
}
#u3484_seg3 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:-705px;
  width:347px;
  height:10px;
}
#u3484_seg4 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:-705px;
  width:10px;
  height:26px;
}
#u3484_text {
  border-width:0px;
  position:absolute;
  left:225px;
  top:-400px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3485 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:512px;
  width:95px;
  height:53px;
  display:flex;
}
#u3485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3486 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:458px;
  width:0px;
  height:0px;
}
#u3486_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:27px;
}
#u3486_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:17px;
  width:178px;
  height:10px;
}
#u3486_seg2 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:17px;
  width:10px;
  height:37px;
}
#u3486_text {
  border-width:0px;
  position:absolute;
  left:39px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3487 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:609px;
  width:95px;
  height:53px;
  display:flex;
}
#u3487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3488 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:742px;
  width:95px;
  height:53px;
  display:flex;
}
#u3488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3489 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:742px;
  width:95px;
  height:53px;
  display:flex;
}
#u3489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3490 {
  border-width:0px;
  position:absolute;
  left:969px;
  top:565px;
  width:0px;
  height:0px;
}
#u3490_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:49px;
}
#u3490_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3491 {
  border-width:0px;
  position:absolute;
  left:969px;
  top:662px;
  width:0px;
  height:0px;
}
#u3491_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:43px;
}
#u3491_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:33px;
  width:101px;
  height:10px;
}
#u3491_seg2 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:33px;
  width:10px;
  height:47px;
}
#u3491_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3492 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:742px;
  width:0px;
  height:0px;
}
#u3492_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-17px;
  width:10px;
  height:17px;
}
#u3492_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-17px;
  width:263px;
  height:10px;
}
#u3492_seg2 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:-17px;
  width:10px;
  height:17px;
}
#u3492_text {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3493 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:1217px;
  width:0px;
  height:0px;
}
#u3493_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-15px;
  width:10px;
  height:15px;
}
#u3493_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-15px;
  width:26px;
  height:10px;
}
#u3493_seg2 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-586px;
  width:10px;
  height:581px;
}
#u3493_seg3 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-586px;
  width:62px;
  height:10px;
}
#u3493_text {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-319px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3494 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:742px;
  width:95px;
  height:53px;
  display:flex;
}
#u3494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3495 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:769px;
  width:0px;
  height:0px;
}
#u3495_seg0 {
  border-width:0px;
  position:absolute;
  left:-181px;
  top:-5px;
  width:181px;
  height:10px;
}
#u3495_seg1 {
  border-width:0px;
  position:absolute;
  left:-181px;
  top:-68px;
  width:10px;
  height:73px;
}
#u3495_seg2 {
  border-width:0px;
  position:absolute;
  left:-429px;
  top:-68px;
  width:258px;
  height:10px;
}
#u3495_text {
  border-width:0px;
  position:absolute;
  left:-233px;
  top:-71px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3496_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:66px;
  height:31px;
}
#u3496 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:706px;
  width:50px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-178.261000086163deg);
  -moz-transform:rotate(-178.261000086163deg);
  -ms-transform:rotate(-178.261000086163deg);
  transform:rotate(-178.261000086163deg);
}
#u3496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3497 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:1244px;
  width:0px;
  height:0px;
}
#u3497_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:92px;
  height:10px;
}
#u3497_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-11px;
  width:10px;
  height:16px;
}
#u3497_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3498 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:850px;
  width:95px;
  height:53px;
  display:flex;
}
#u3498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3499 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:795px;
  width:0px;
  height:0px;
}
#u3499_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:32px;
}
#u3499_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:22px;
  width:76px;
  height:10px;
}
#u3499_seg2 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:22px;
  width:10px;
  height:33px;
}
#u3499_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3500 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:795px;
  width:0px;
  height:0px;
}
#u3500_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:32px;
}
#u3500_seg1 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:22px;
  width:68px;
  height:10px;
}
#u3500_seg2 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:22px;
  width:10px;
  height:33px;
}
#u3500_text {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3501_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:90px;
  height:31px;
}
#u3501 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:512px;
  width:74px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-179.292807151585deg);
  -moz-transform:rotate(-179.292807151585deg);
  -ms-transform:rotate(-179.292807151585deg);
  transform:rotate(-179.292807151585deg);
}
#u3501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3502 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:936px;
  width:140px;
  height:76px;
  display:flex;
  font-size:20px;
}
#u3502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
