body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-110px;
  width:1137px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:403px;
}
#u3518 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:656px;
  width:272px;
  height:403px;
  display:flex;
}
#u3518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3519 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:626px;
  width:89px;
  height:24px;
  display:flex;
  font-size:20px;
}
#u3519 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3520_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:146px;
  height:31px;
}
#u3520 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:858px;
  width:130px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(0.178490947552628deg);
  -moz-transform:rotate(0.178490947552628deg);
  -ms-transform:rotate(0.178490947552628deg);
  transform:rotate(0.178490947552628deg);
}
#u3520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:403px;
}
#u3521 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:656px;
  width:272px;
  height:403px;
  display:flex;
}
#u3521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3522 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:623px;
  width:89px;
  height:24px;
  display:flex;
  font-size:20px;
}
#u3522 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3523_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:146px;
  height:31px;
}
#u3523 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:855px;
  width:130px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:403px;
}
#u3524 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:656px;
  width:272px;
  height:403px;
  display:flex;
}
#u3524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3525 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:623px;
  width:89px;
  height:24px;
  display:flex;
  font-size:20px;
}
#u3525 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:403px;
}
#u3526 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1240px;
  width:272px;
  height:403px;
  display:flex;
}
#u3526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3527_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:146px;
  height:31px;
}
#u3527 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:1132px;
  width:130px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3528 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:1209px;
  width:89px;
  height:24px;
  display:flex;
  font-size:20px;
}
#u3528 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:403px;
}
#u3529 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:81px;
  width:272px;
  height:403px;
  display:flex;
}
#u3529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3530_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:146px;
  height:31px;
}
#u3530 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:551px;
  width:130px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u3530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3531 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:51px;
  width:89px;
  height:24px;
  display:flex;
  font-size:20px;
}
#u3531 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
